<% provide(:title, "Sign in") %>
<h1>Вход на сайт</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_tag(sessions_path) do %>

      <%= label_tag :email, nil, for: 'session_email' %>
      <%= text_field_tag 'session[email]' %>
      
      <%= label_tag :password, nil, for: 'session_password' %>
      <%= password_field_tag 'session[password]' %>

      <%= submit_tag 'Sign in', class: 'btn btn-large btn-primary' %>

    <% end %>

    <p>Новичок? <%= link_to "Присоединяйся!", signup_path %></p>
  </div>
</div>
